# Python
__pycache__/
*.pyc
*.pyo

# Jupyter
.ipynb_checkpoints/

# VS Code
.vscode/

# IDE
.idea/

# Environment files
.env

# Data
data/raw/

# Experiment outputs
results/*
!results/tables/
!results/tables/**

# Keep model checkpoints ignored by default
results/models/

# OS
.DS_Store
Thumbs.db

# Week 17 generated ColPack outputs
data/processed/initial_graph_coloring_dataset/colpack_outputs_week17_*/

# Week 17 generated PyG datasets
data/processed/initial_graph_coloring_dataset/pyg_data_week17_*/